.caseRichtext h1 {
  font-weight: bold;
  margin: 1.5em 0 0.5em 0;
  font-size: large;
}
.caseRichtext h2 {
  font-weight: bold;
  margin: 1.5em 0 0.5em 0;
  font-size: larger;
}
.caseRichtext h3 {
  font-weight: large;
  margin: 1.5em 0 0.5em 0;
  font-size: medium;
}
.caseRichtext h4 {
  font-size: large;
  font-weight: bold;
  margin: 1.5em 0 0.5em 0;
}

.caseRichtext p {
  margin: 1em 0;
}
.caseRichtext em {
  font-style: italic;
}
.caseRichtext strong {
  font-weight: bold;
}
.caseRichtext ul,
.caseRichtext ol {
  margin: 1em 0 1em 2em;
}
.caseRichtext li {
  margin: 1em 2em;
}
