.link {
  transition:
    color 0.5s ease,
    transform 0.5s ease;

  &:hover {
    color: white;
    &::after {
      background-color: white;
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      margin-top: 2px;
      transition: background-color 0.5s ease;
    }
  }

  &.active {
    color: white;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: white;
      display: block;
      margin-top: 2px;
      transition: background-color 0.5s ease;
    }

    &:hover {
      color: black;

      &::after {
        background-color: black;
      }
    }
  }
}
